<%- include('partials/header') %>
    <main>
        <h1>
            <%= title %>
        </h1>

        <p>Here are a few of our partner organizations:</p>
        <ul class="org-list">

            <% organizations.forEach(organization=> { %>
                <li class="org-card">
                    <img src="/images/<%= organization.logo_filename %>" alt="<%= organization.name %> logo">
                    <strong>
                        <%= organization.name %>
                    </strong>

                    <p class="org-description">
                        <%= organization.description %>
                    </p>

                    <span class="org-contact">Contact: <%= organization.contact_email %></span>
                </li>
                <% }); %>
        </ul>
    </main>

    <%- include('partials/footer') %>